.container{
    /*background-color: #0a58ca;*/
    width: 200vw;
    margin-top: 10%;
    gap: 2rem;
    justify-content: space-between;
}

form{
    background-color: darkgreen;
    width: 50vw;
    margin-left: 10%;
    height: 37vh;
}

h1{
    text-align: center;
    padding: 20px 0;
}

.form-floating {
    margin: 0 10vw;
}

.btn{
    margin-top: 2%;
    margin-left: 44%;
    width: 7vw;
}

.tag_signup{
    text-align: center;
    margin: -45px 0 0 -70px;
    font-size: 20px;

}

.container1{
    background-color: #0a3622;
}